
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="image-head-wrapper" style="background-image: url(@Url.Content("~/HomeAssets/images/banner3.jpg"));">
    <div class="inner-wrapper">
        <h1>About us</h1>
    </div>
</section>
<div class="clearfix"></div>


<section class="about-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5 about-left">
                <p>Welcome <label>to</label> StaySpot   <span>Hotels</span></p>
            </div>
            <div class="col-md-7 about-right">
                <h3>Our Vision</h3>
                <p>At StaySpot, we believe in redefining the way travelers experience hospitality. Our cutting-edge hotel reservation system seamlessly connects guests with the finest hotels, providing a wide array of options tailored to suit every need. Whether you're traveling for business or leisure, we ensure that your booking process is smooth, efficient, and personalized.</p>
                <span>Our mission is to create a system that combines technology with the warmth of traditional hospitality. Through our platform, we aim to offer guests a one-stop solution for discovering hotels that meet their preferences, from luxury suites to budget-friendly rooms, all with the best available facilities.</span>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</section>

